<div
    class="image-dialog">
    <div class="image-dialog-vertical-center">
        <div class="image-dialog-body">
            <img
                id="thumb"
                class="md-card-image"
                ng-src="{{imgSrc}}">
        </div>
        <a
            href=""
            title="Close"
            class="close-btn"
            ng-click="onCloseOnMask($event); $event.preventDefault()">
            Close
        </a>
        <div class="button-holder">
            <md-button
                class="md-raised md-primary"
                ng-click="onDoneClick(); $event.preventDefault()">
                Done
            </md-button>
        </div>
    </div>
</div>